<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div id="register">
        <h3 class="text-center text-white pt-5">Register form</h3>
        <div class="container">
          <div
            id="register-row"
            class="row justify-content-center align-items-center"
          >
            <div id="register-column" class="col-md-6">
              <div id="register-box" class="col-md-12">
                <form id="register-form" class="form" action="" method="post">
                  <h3 class="text-center text-info">Register</h3>
                  <div class="form-group">
                    <label for="uname" class="text-info">Username:</label
                    ><br />
                    <input
                      type="text"
                      name="uname"
                      id="uname"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email" class="text-info">Email:</label
                    ><br />
                    <input
                      type="email"
                      name="email"
                      id="email"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="passw" class="text-info">Password:</label
                    ><br />
                    <input
                      type="password"
                      name="passw"
                      id="passw"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="remember-me" class="text-info"
                      ><span>Remember me</span> <span
                        ><input
                          id="remember-me"
                          name="remember-me"
                          type="checkbox" /></span></label
                    ><br />
                    <input
                      type="submit"
                      name="submit"
                      class="btn btn-info btn-md"
                      value="Register"
                    />
                  </div>
                  <div id="register-link" class="text-right">
                    <a href="login" class="text-info">Login</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>